body {
  color: white;
  background: url(images/background-image.jfif) no-repeat center center fixed;
  background-size: 100% 100%;
}
.navbar-brand {
  color: white !important;
  font-size: 60px;
  font-style: italic;
  text-shadow: -4px 1px 0px rgba(255, 255, 255, 0.37);
}
#city {
  font-size: 50px;
  margin-bottom: 8px;
}
#date-time {
  font-size: 20px;
  margin: 8px 0px 8px 0px;
}
.current-temp {
  font-size: 35px;
  margin: 8px 0px 8px 0px;
}
#main {
  font-size: 25px;
}
.max-min-temp {
  font-size: 20px;
  margin: 8px 0px 8px 0px;
}
.weather-details {
  font-size: 40px;
  margin-bottom: 8px;
}
.weather-detail-items {
  font-size: 20px;
}
.weather-detail-item {
  margin: 5px 0px 5px 0px;
}
.weather-detail-item-title {
  font-size: 14px;
}
.unit {
  font-size: 15px;
  margin-left: 2px;
}
span {
  margin: 5px;
}
#logo {
  height: 60px;
}
.svg {
  height: 25px;
  width: 25px;
}
#err-message {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
  margin: 5px;
}
#input-city {
  width: auto;
}
.hourly-report {
  margin-top: 10px;
}
.title {
  font-size: 30px;
  margin: 5px;
}
#hourly-data {
  overflow-x: scroll;
  flex-wrap: nowrap;
}
#hourly-data::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}
#hourly-data::-webkit-scrollbar-thumb {
  background-color: white; /* color of the scroll thumb */
  border-radius: 30px; /* roundness of the scroll thumb */
  border: 3px solid black; /* creates padding around scroll thumb */
}
.hour-section {
  margin: 5px;
  width: auto;
}
.hourly-data-subitem {
  margin: 5px;
  display: flex;
  justify-content: center;
}
.hourly-image {
  height: 30px;
}
.daily-data-item {
  margin: 6px 0px 6px 0px;
}
.daily-description {
  flex : 1 0 18%;
}
.daily-max-min-temp {
  display: flex;
}
.main {
  flex: 1 0 0%;
}
.weather-detail {
  flex: 1.2 0 0%;
}

.daily-report {
  flex: 1.5 0 0%;
}
.daily-image {
  height: 30px;
}
#match-list {
  width:200px;
  position: absolute;
  top: 75px;
  background-color:white;
  color: black
}